body 
{
font-family: "Arial", sans-serif;
background: #FFE4C4;
background-position: center;	
background-attachment: fixed;
background-size: 50%;
background-repeat: no-repeat;	
}

.menu
{
  padding: 0px;
  margin:0px;
  text-align: center;
	  /*relative;*/
}
.menu li
{
  float:left;
  list-style:none;
  margin:0; 
}
.menu li a
{
  padding: 20px 15px;
  display: inline-block;
  text-decoration:none;
  position:relative;
  z-index: 1;
  color: #8B0000;
  text-transform:uppercase;
}
 .menu li:hover a
{
  background: #333;
  color: #fff;
}
 .menu li ul
{
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 100;
  isplay:none;
}
 .menu li:hover ul
{
  display:block;
}
 .menu li ul li
{
 display:block;
 width: 100%;
}
 .menu li ul li a
{
  width: 100%;
}

.cell 
{
  font-family: "Times New Roman", cursive;
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 2px 2px #ecd7ba;
  border: 2px solid #ecd7ba;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.game--title 
{
  font-size: 40px;
  color: black;
  margin: 10px auto;
  text-align: center;
}

.game--container 
{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 10px auto;
  background-color: #11213a;
  color: #04c0b2;
  text-align: center;
}

.game--status 
{
  font-size: 25px;
  color: black;
  margin: 20px auto;
  text-align: center;
}

.game--restart 
{
  background-color: #f7e4ac;
  width: 200px;
  height: 75px;
  font-size: 25px;
  color: #8B0000;
  box-shadow: 2px 2px 2px 2px #d86c23;
  border: 2px solid #d86c23;
  text-align: center;
}




