body {
	background: #2F4F4F;
	background-position: center;	
	background-attachment: fixed;
	background-image: url();
	
	background-size: 50%;
	background-repeat: no-repeat;
	
}	
/*div.Opis {
	margin: 0;
	background: LightSeaGreen;
	text-align: center;
	font-weight: bold;
	
}

div.Kontakt {
	position: fixed; bottom: 0px;	
	left: 50%;
 
  transform: translate(-50%, -50%);
  margin: 0 auto;
	margin: 0;
	background: BlanchedAlmond;
	text-align: center;
	

}
div.Tytul {

	margin: 0;
	background: LightCoral;
	text-align: center;
		
}
nav ul{
    background: white;
    height: 50px;
	
}

li{
    float: left;
    width: 25%;
    text-align: center;
    list-style-position: inside;
    color: black;
    padding: 15px 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover, a:focus{
    color: blue;
}*/

.menu{
  padding: 0px;
  margin:0px;
  position:relative;
}
.menu li{
  float:left;
  list-style:none;
  margin:0; 
}
.menu li a{
  padding: 20px 15px;
  display: inline-block;
  text-decoration:none;
  position:relative;
  z-index: 1;
  color: #8B0000;
  text-transform:uppercase;
}
.menu li:hover a{
    background: #333;
    color: #fff;
}
.menu li ul{
   margin: 0;
   padding: 0;
   position: absolute;
   z-index: 100;
  display:none;
}
.menu li:hover ul{
  display:block;
}
.menu li ul li{
  display:block;
  width: 100%;
}
.menu li ul li a{
  width: 100%;
}

p1	{
	font-weight: bold;
}
